#!/bin/sh
# Copyright 2017 Sylvain Boily
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        python setup.py bdist
        ;;

    package)
        tar xvf dist/wazo-confgend-driver-followme-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
	chown asterisk.www-data /etc/asterisk/followme.conf
	chmod 660 /etc/asterisk/followme.conf
	chown asterisk.www-data /etc/asterisk/extensions_extra.d/followme.conf
	chmod 660 /etc/asterisk/extensions_extra.d/followme.conf
	sed -i '/\(^noload.*followme.so\)/s/^/;/' /etc/asterisk/modules.conf
	systemctl restart wazo-confgend
	systemctl restart asterisk
        ;;

    uninstall)
        sed -i '/\(^;noload.*followme.so\)/s/^;//' /etc/asterisk/modules.conf
        rm -f /var/lib/wazo-confgend/asterisk/followme.conf
        systemctl restart wazo-confgend
        systemctl restart asterisk
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
